body {
    font-family: Impact,;
    background-color: #060606;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.container {
    background: rgb(248, 2, 2);
    padding: 20px;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px gray;
}

h1 {
    text-align: center;
}

input {
    width: 70%;
    padding: 8px;
}

button {
    padding: 8px;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #eee;
    padding: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

button:hover {
    background-color: #0e6ff7;
}
.btn-perigo {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 15px;
    transition: background 0.3s;
}

.btn-perigo:hover {
    background-color: #c82333;
}